/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .blocks-heading {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
 }

.block {
  background-color: #333;
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
	color: white;
	&-name {
		margin-bottom: 0;
		font-weight: normal;
	}
  & > h4 {
    padding: 1em 1em 0;
    margin: 0;
    color: #000;
    background-color: #f2f2f2;
    font-size: 1.2em;
    display: none;
  }
  & > svg {
    float: left;
    margin-top: .2em;
    margin-left: 1em;
    height: 2em;
    width: 2em;
    fill: #fff;
  }
  &-title {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  &-headline {
    display: inline-block;
    padding-left: 1em;
  }
  &-index {
    & > ul {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    }
	}
	&-icon {
		font-size: 2em;
		margin-left: 0.5em;
		margin-top: 0.1em;
	}

}

.attributes {
  list-style-type: none;
  color: #000;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
  margin-bottom: 0;
}

.attribute {
  padding: 1em;
  &:before {
    content: "";
    display: none;
	}
	& > ul {
		padding-left: 0;
	}
  &-name {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-transform: initial;
		overflow-wrap: break-word;
		font-weight: normal;
  }
  &-property {
		&:before {
			content: "";
			display: none;
		}
    &-name {
			color: #666;
    }
    &-value {
      font-style: italic;
    }
  }
}
